<app-recipe></app-recipe>
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <form novalidate
          #recipeEditForm="ngForm"
          [formGroup]="recipeForm"
          (ngSubmit)="saveRecipe()"
          >
      <fieldset *ngIf="recipe">
       
        <div class="row mb-3">
          <label id="recipe-name" class="col-md-2 form-label">
            Recipe name
          </label>
          <div class="col-md-8">
            <input class="form-control"
                   type="text"
                   formControlName="recipeName"
                   required
                   id="recipe-name"
             />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-2 form-label">
            Image Url
          </label>
          <div class="col-md-8">
            <input 
                  class="form-control"              
                  type="text"
                  formControlName="recipeImage_url"
                  required
                  />
          </div>
        </div>

     
        <div class="row mb-3">
          <label class="col-md-2 form-label"
                 for="descriptionId">Description</label>

          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      type="text"
                      formControlName="recipeDescription"
                      rows="3"                 
                      >
            </textarea>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-2 col-md-8 ">
            <button class="btn btn-primary me-1"
                    type="submit"
                    style="width:80px"
                    [disabled]="!recipeEditForm.valid"
                   >
                   <!-- (click)="saveRecipe()" -->
              Save
            </button>
            <button class="btn btn-danger me-1"
            style="width:80px"
            (click)="back()"> Back</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div> 
  <!-- <div class="card-body">
    <form novalidate
          #recipeEditForm="ngForm"
          (ngSubmit)="saveRecipe()">
      <fieldset *ngIf="recipe">
        <div class="row mb-3">
          <label class="col-md-2 form-label">
            Recipe name
          </label>

          <div class="col-md-8">
            <input class="form-control"
                   type="text"
                   placeholder="Name (required)"
                   required
                   [(ngModel)]=recipe.name
                   name="recipeName"
                   #recipeNameVar="ngModel"
                   [ngClass]="{'is-invalid': (recipeNameVar.touched ||
                              recipeNameVar.dirty) &&
                              !recipeNameVar.valid }" 
             />
            <span class="invalid-feedback">
              <span *ngIf="recipeNameVar.errors?.['required']">
                recipe name is required.
              </span>
              <span *ngIf="recipeNameVar.errors?.['minlength']">
                recipe name must be at least three characters.
              </span>
            </span>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-2 form-label">
            Image Url
          </label>

          <div class="col-md-8">
            <input class="form-control"
                  
                   type="text"
                   placeholder="ImageUrl (required)"
                   required
                   name="recipeImageUrl"
                   [(ngModel)]=recipe.image_url
                   #recipeImageUrlVar="ngModel"
                   [ngClass]="{'is-invalid': (recipeImageUrlVar.touched ||
                              recipeImageUrlVar.dirty ) &&
                              !recipeImageUrlVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="recipeImageUrlVar.errors?.['required']">
                recipe image url is required.
              </span>
              <span *ngIf="recipeImageUrlVar.errors?.['minlength']">
                recipe image url must be at least three characters.
              </span>
            </span>
          </div>
        </div>

     
        <div class="row mb-3">
          <label class="col-md-2 form-label"
                 for="descriptionId">Description</label>

          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Description ( required)"
                      required
                      name="recipeDesciption"
                      rows="3"
                      [(ngModel)]="recipe.description"
                      name="description"
                      #receipDescription="ngModel"
                      >
            </textarea>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-2 col-md-8 ">
            <button class="btn btn-primary me-1"
                    type="submit"
                    style="width:80px"
                    [disabled]="!recipeEditForm.valid"
                    (click)="saveRecipe()">
              Save
            </button>
            <button class="btn btn-danger me-1"
            style="width:80px"
            (click)="back()"> Back</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div> -->
</div>


