<nav  class="navbar">
  <div  class="container-fluid" >
    <div  class="navbar-header">
      <a    class="navbar-brand">Recipe Book</a></div>
    <div >
      <ul  class="nav navbar-nav">
        <li class="nav-item" >
          <a class="nav-link" href="/recipe">Recipes</a></li>
          <li class="nav-item" >
            <a class="nav-link"  href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container tab-pane "><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5">
            <button type="button" routerLink="/add" class="btn btn-success">Create</button>
            <a *ngFor="let recipe of recipes" class="list-group-item clearfix active" style="cursor: pointer;"
              routerLink="/recipe/{{recipe.id}}">
              <div class="pull-left">
                <h4 class="list-group-item-heading">
                  {{ recipe.name}}
                </h4>
                <p class="list-group-item-text"> {{ recipe.description}}</p>
              </div>
              <span class="pull-right">
                <img src="{{ recipe.image_url }}" style="max-height: 50px;">
              </span>
            </a>
          </div>
          <div class="col-md-7">
            <router-outlet>

            </router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <label > name: </label>
<input type="text" [formControl]="name" id="name">
<p> {{ name.value }}</p>
<button type="button" (click)="updateName()">Update Name</button>
<form [formGroup]="profileForm"
       (ngSubmit)="onSubmit()">
  <label for="first-name"> Fisrt Name: </label>
  <input required type="text" id="first-name" formControlName="fisrtName">
  <label for="last-name"> Last Name </label>
  <input required type="text" id="last-name" formControlName="lastName">
  <button type="submit"
    [disabled]="!profileForm.valid"> Sumit </button>
</form>
<div formGroupName="address">

</div> -->
